body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#sudoku-grid {
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 20px auto;
    border-collapse: collapse;    
}

#sudoku-grid input {
    width: 10vw;
    height: 10vw;
    padding-bottom: 11%; /* Adjusted for aspect ratio */
    padding-top: 11%;
    font-size: 5vw; /* Responsive font size */
    text-align: center;
    border: 1px solid grey;
    box-sizing: border-box;
}

#hint-btn {
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 5vw;
}

#solve-btn {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 5vw;
}

#reset-btn {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 5vw;
    /* Add any additional styling as needed */
}

/* Thicker right borders for every third cell */
#sudoku-grid input:nth-child(3n) {
    border-right: 3px solid black;
}

/* Thicker bottom borders for the 27th, 54th, and 81st cells */
#sudoku-grid input:nth-child(n+19):nth-child(-n+27),
#sudoku-grid input:nth-child(n+46):nth-child(-n+54),
#sudoku-grid input:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 3px solid black;
}

.original-input {
    color: black; /* or any color you prefer for original input */
}

.solved-input {
    color: blue; /* or any color you prefer for solved cells */
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    padding: 4vw 8vw; /* Adjusted padding */
    font-size: 7vw; /* Responsive font size */
    margin-bottom: 2vw; /* Space between buttons */
    min-width: 60vw; /* Minimum width for larger touch area */
    min-height: 8vw; /* Minimum height to ensure buttons are easily tappable */
    border-radius: 5px; /* Rounded corners */
    background-color: #f0f0f0; /* Light background color */
    border: 1px solid #ccc; /* Border to define the buttons */
    cursor: pointer; /* Cursor style for clickable elements */
}

.hint-input {
    background-color: #ffff99; /* Yellow background for visibility */
    color: green; /* Different text color if needed */
}

.banner-image {
    width: 50%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Removes any extra space around the image */
    margin: 20px auto; /* Space between the banner and the title */
}
